.board{
    width: 272px;
    background: #DFE3E6;
    padding: 8px 12px 12px 12px;
    border-radius: 3px;
    margin-right: 12px;
    overflow: auto;
    max-height: calc(100% - 20px);
}
.title-board{
    font-weight: 700;
    margin-bottom: 12px;
}